@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --1: #100e0e;
  --prime: #0071e4;
  --03: #b7b7b7;
  --light-grey: #f9f9f9;
  --05: #878787;
  --01: #e7e7e7;
  --06: #706e6e;
  --07: #585656;
  --09: #282626;
  --015: #dbdbdb;
  --light-prime: #2a93fd;
  --icon-ligt: #ccc;
  --font-family: "SF Pro Display", sans-serif;
  --second-family: "Inter", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1228px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}

.main__top_block {
  padding: 4px 0;
  background-color: var(--light-grey);
}

.main__top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 8px;
}

.main__top_min_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__check_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__select {
  display: inline-block;
  background-image: url("../img/arrow_down.svg");
  background-repeat: no-repeat;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right;
  width: 83px;
  background-color: var(--light-grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--prime);
  outline: none;
  cursor: pointer;
}

.main__select_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.main__check_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main__center_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.main__center_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.main__center_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__center_link:hover {
  color: var(--prime);
  border-bottom: 2px solid #0071e4;
}

.main__center_links {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #e6d9ad;
  padding: 6px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  background-color: #fdefbf;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.main__center_links::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/fair.svg");
}
.main__center_links:hover {
  color: var(--prime);
}

.main__center_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin-top: 20px;
}

.main__center_linkc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__center_linkc span {
  color: #b7b7b7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__center_linkc:hover {
  color: var(--prime);
}
.main__center_linkc:hover span {
  color: var(--prime);
}

.main__center_block {
  padding-top: 10px;
  padding-bottom: 15px;
}

.main__center_phone {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--prime);
  text-align: end;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__center_phone:hover {
  color: var(--1);
}

.main__bottom_btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--prime);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.main__bottom_btn::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/dot.svg");
}

.main__bottom_formm {
  width: 594px;
}

.main__bottom_input {
  width: 100%;
  padding: 16px 40px;
  border-radius: 8px;
  border: 1px solid var(--03);
  outline-width: 1px;
  outline-color: var(--prime);
}
.main__bottom_input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}
.main__bottom_input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}
.main__bottom_input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}
.main__bottom_input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}
.main__bottom_input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--03);
}

.main__bottom_icons {
  background: none;
  border: none;
  background-image: url("../img/search.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  top: 26px;
  left: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__bottom_form {
  position: relative;
}

.main__bottom_life::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/life.svg");
}

.main__bottom_li::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/li.svg");
  background-position: center;
}

.main__bottom_life_btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  border-radius: 16px;
  padding: 12px 31px;
  background: #52d116;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 4px;
}
.main__bottom_life_btn::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/paket.svg");
}

.main__botton_number {
  border-radius: 32px;
  width: 32px;
  height: 32px;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #46c609;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__bottom_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__button_iconss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.main__and_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 20px;
}
.main__and_link:hover {
  color: var(--prime);
}
.main__and_link:hover span {
  color: var(--prime);
}
.main__and_link span {
  color: #cccccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__and_btn {
  background-image: url("../img/main-1.png");
  padding: 16px 10px 16px 66px;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  background-size: cover;
  width: 280px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.main__and_btn::after {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../img/arrow-2.svg");
}

.main__end_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__end_block {
  padding-top: 13px;
}

.main__big_block {
  display: none;
}

.main__mobile_formm {
  width: 224px;
  border: none;
  position: relative;
}

.main__mobile_input {
  width: 100%;
  padding-top: 11px;
  border: none;
  outline: none;
}
.main__mobile_input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.main__mobile_input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.main__mobile_input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.main__mobile_input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}
.main__mobile_input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--03);
}

.main__mobile_icons {
  background: none;
  border: none;
}
.main__mobile_icons::before {
  content: "";
  background-image: url("../img/searcg.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  left: -31px;
}

.main__mobile_form {
  display: none;
}

.main__mobile_btuton {
  border: none;
  background: none;
}
.main__mobile_btuton::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../img/searcg.svg");
}

.main__mobile_call::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../img/phone.svg");
}

.main__mobile_call-1::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../img/phone.svg");
}

.main__mobile_call {
  display: none;
}

.main__mobile_btutonn {
  border: none;
  background: none;
}
.main__mobile_btutonn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../img/button.svg");
}

.main__mobile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.main__mobile_blockk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0;
}

@media screen and (min-width: 768px) {
  .main__mobile_form {
    display: block;
  }
  .main__mobile_btuton {
    display: none;
  }
  .main__mobile_call {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  .main_mobile {
    padding: 8px 0;
  }
  .main__mobile_blockk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__mobile_call::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../img/phone-2.svg");
  }
  .main__mobile_call-1 {
    display: none;
  }
}
@media screen and (min-width: 1050px) {
  .main {
    padding-bottom: 12px;
  }
  .main__top_block {
    padding: 16px0;
  }
  .main_mobile {
    display: none;
  }
  .main__big_block {
    display: block;
  }
}
.hero {
  background-color: #d0eafc;
  padding-top: 16px;
  padding-bottom: 164px;
  overflow-y: hidden;
}

.hero__img {
  background-image: url("../img/iphone-14.svg");
  width: 192px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.hero__price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  color: #1e3240;
  margin-bottom: 10px;
}
.hero__price span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #1e3240;
}

.hero__block {
  text-align: center;
}

.hero__btn {
  padding: 11px 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: var(--prime);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.hero__btn__blockss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__btn__blockss::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/arrow-rigt.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.hero__btn__blockss::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/arrow-lleft.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.hero__image {
  position: relative;
}

.hero__picture {
  position: absolute;
  width: 173px;
  height: 207px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 264px;
  }
  .hero__img {
    margin-bottom: 15px;
    width: 308px;
    height: 72px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
  }
  .hero__price {
    margin-bottom: 18px;
  }
  .hero__btn__blockss {
    margin-bottom: 25px;
  }
  .hero__picture {
    position: absolute;
    width: 269px;
    height: 324px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@media screen and (min-width: 1050px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 104px;
  }
  .hero__content {
    max-width: 457px;
    text-align: start;
  }
  .hero__big_blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .hero__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
  }
  .hero__block::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../img/arrow--right.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .hero__block::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../img/arrow--left.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .hero__picture {
    width: 398px;
    height: 479px;
    top: -84px;
  }
  .hero__btn__blockss::before {
    display: none;
  }
  .hero__btn__blockss::after {
    display: none;
  }
  .hero__image {
    margin: 0;
    width: 457px;
    height: 106px;
  }
}
.cart_star {
  width: 120px;
  height: 20px;
  display: inline-block;
  background-image: url("../img/starr.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cart__chain {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/li.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cart__like {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/life.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cart__number {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
}

.cart__star_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--1);
  text-align: center;
}

.cart__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
  margin-bottom: 16px;
}

.cart__subtitlee {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--1);
  display: none;
}

.cart__subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--1);
  margin-bottom: 12px;
}

.cart__have {
  margin-bottom: 12px;
}

.cart__image {
  width: 140px;
  height: 152px;
}

.cart__item {
  width: 259px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  background-color: #fff;
  text-align: center;
  padding: 16px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06);
}

.cart__star_block {
  gap: 8px;
  margin-bottom: 15px;
}

.cart__image {
  margin-bottom: 8px;
}

.cart__have {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.cart__buy {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--06);
}

.cart__around {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #52d116;
}

.cart__garantt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--05);
  margin-bottom: 8px;
}

.cart__buyy {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--06);
}
.cart__buyy span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: var(--prime);
}

.cart__garant {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--06);
}

.cart__btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.cart__sale {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
  color: var(--05);
}

.cart__btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  background-color: var(--prime);
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  gap: 8px;
}
.cart__btn::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/car.svg");
  background-repeat: no-repeat;
}
.cart__btn:hover {
  background-color: #52d116;
}
.cart__btn:hover::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/car-correct.svg");
  background-repeat: no-repeat;
}

.cart__btnn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  background-color: var(--prime);
  padding: 8px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 8px;
}
.cart__btnn::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/car.svg");
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cart__btnn:hover {
  background-color: #52d116;
}
.cart__btnn:hover::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/car-correct.svg");
  background-repeat: no-repeat;
}

.cart__insed__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__want {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--prime);
}

.cart__cry {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: var(--06);
}

.cart__btnnn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
  border: 1px solid var(--prime);
  border-radius: 8px;
  padding: 15px 30px;
  white-space: nowrap;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.cart__model_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--1);
  margin-bottom: 8px;
}

.cart__texts {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--07);
  line-height: 24x;
  text-align: start;
}

@media screen and (min-width: 600px) {
  .cart__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  }
  .cart__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    color: var(--1);
    margin-top: 24px;
    margin-bottom: 64px;
  }
  .cart__link {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .cart__model_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: var(--1);
    margin-top: 40px;
  }
  .cart__texts {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--07);
  }
}
@media screen and (min-width: 1000px) {
  .cart {
    padding: 40px 0;
  }
  .cart__subtitle {
    display: none;
  }
  .cart__subtitlee {
    display: block;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 23px;
  }
  .cart__item {
    width: 282px;
  }
  .cart__image {
    width: 266px;
    height: 288px;
  }
  .cart__model_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: var(--1);
  }
  .cart__model {
    margin-bottom: 32px;
  }
}
.model {
  background-color: #000;
  padding: 0 24px;
}

.model_img {
  width: 65px;
  height: 151px;
  background-image: url(../img/iphone-16.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.model__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}

.model__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
  white-space: nowrap;
}

.model__btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 10px 39px;
  border-radius: 8px;
  background-color: var(--prime);
}

.model__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .model_img {
    width: 110px;
    height: 217px;
    background-size: cover;
    background-position: center top;
  }
  .model__title {
    font-weight: 700;
    font-size: 32px;
  }
  .model__text {
    font-weight: 500;
    font-size: 16px;
  }
  .model__content {
    text-align: start;
  }
  .model__block {
    gap: 72px;
  }
}
@media screen and (min-width: 1050px) {
  .model_img {
    width: 246px;
    height: 360px;
  }
  .model__title {
    font-weight: 700;
    font-size: 56px;
  }
}
.new {
  padding: 32px 0;
}

.new__subtitlee {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--1);
  display: none;
}

.new__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--prime);
  margin-top: 30px;
  margin-bottom: 24px;
}

.new__subtitleee {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--1);
}

@media screen and (min-width: 600px) {
  .new__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(259px, 1fr));
    gap: 24px;
  }
}
@media screen and (min-width: 800px) {
  .new {
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .new__subtitle {
    font-size: 24px;
  }
}
.advan {
  padding-bottom: 21px;
}

.advan__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--prime);
  border: 1px solid var(--prime);
  border-radius: 8px;
  padding: 60px 18px;
  display: none;
}

.advan__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.advan__text::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("../img/discount.png");
  background-size: cover;
}

.advan__item {
  background: var(--light-grey);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 8px;
}

.advan__descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--07);
}

.advan__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--1);
  margin-bottom: 12px;
}

.advan__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--1);
  text-align: center;
  margin-bottom: 16px;
}

.advan__item:nth-child(2) .advan__text::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("../img/delivery.png");
  background-size: cover;
}

.advan__item:nth-child(3) .advan__text::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("../img/cardwallet.png");
  background-size: cover;
}

.advan__item:nth-child(4) .advan__text::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("../img/building.png");
  background-size: cover;
}

.advan__item:nth-child(5) .advan__text::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("../img/approval.png");
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .advan__text::before {
    content: "";
    width: 32px;
    height: 32px;
    display: none;
    background-image: none;
    background-size: cover;
  }
  .advan__item:nth-child(2) .advan__text::before {
    content: "";
    width: 32px;
    height: 32px;
    display: none;
    background-image: url("../img/delivery.png");
    background-size: cover;
  }
  .advan__item:nth-child(4) .advan__text::before {
    content: "";
    width: 32px;
    height: 32px;
    display: none;
    background-image: url("../img/delivery.png");
    background-size: cover;
  }
  .advan__item:nth-child(5) .advan__text::before {
    content: "";
    width: 32px;
    height: 32px;
    display: none;
    background-image: url("../img/delivery.png");
    background-size: cover;
  }
  .advan__item:nth-child(3) .advan__text::before {
    content: "";
    width: 32px;
    height: 32px;
    display: none;
    background-image: url("../img/delivery.png");
    background-size: cover;
  }
  .advan__min_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 26px;
  }
  .advan__min_block::before {
    content: "";
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url("../img/discount.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .advan__link {
    display: inline-block;
    white-space: nowrap;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 18px 60px;
  }
  .advan__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 32px 71px 32px 24px;
  }
  .advan__content {
    max-width: 293px;
  }
  .advan__item:nth-child(2) .advan__min_block::before {
    content: "";
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url("../img/delivery.png");
    background-size: cover;
  }
  .advan__item:nth-child(3) .advan__min_block::before {
    content: "";
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url("../img/cardwallet.png");
    background-size: cover;
  }
  .advan__item:nth-child(4) .advan__min_block::before {
    content: "";
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url("../img/building.png");
    background-size: cover;
  }
  .advan__item:nth-child(5) .advan__min_block::before {
    content: "";
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url("../img/approval.png");
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .advan {
    padding: 40px 0;
  }
  .advan__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px 8px 32px 8px;
    text-align: center;
  }
  .advan__min_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advan__content {
    text-align: center;
  }
  .advan__text {
    text-align: center;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
  }
  .advan__descr {
    margin-bottom: 69px;
  }
  .advan__item:nth-child(2) .advan__min_block::before {
    content: "";
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
    display: inline-block;
    background-image: url("../img/delivery.png");
    background-size: cover;
  }
  .advan__item:nth-child(3) .advan__min_block::before {
    content: "";
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
    display: inline-block;
    background-image: url("../img/cardwallet.png");
    background-size: cover;
  }
  .advan__item:nth-child(4) .advan__min_block::before {
    content: "";
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
    display: inline-block;
    background-image: url("../img/building.png");
    background-size: cover;
  }
  .advan__item:nth-child(5) .advan__min_block::before {
    content: "";
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
    display: inline-block;
    background-image: url("../img/approval.png");
    background-size: cover;
  }
  .advan__min_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 26px;
  }
  .advan__min_block::before {
    content: "";
    width: 160px;
    height: 160px;
    display: inline-block;
    background-image: url("../img/discount.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .advan__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
  .advan__item {
    background: -webkit-gradient(linear, left top, left bottom, from(#fe94a6), color-stop(83%, #f2f2f2));
    background: linear-gradient(180deg, #fe94a6 0%, #f2f2f2 83%);
  }
  .advan__item:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, from(#e685ff), color-stop(83%, #f2f2f2));
    background: linear-gradient(180deg, #e685ff 0%, #f2f2f2 83%);
  }
  .advan__item:nth-child(3) {
    background: -webkit-gradient(linear, left top, left bottom, from(#7de9ff), color-stop(83%, #f2f2f2));
    background: linear-gradient(180deg, #7de9ff 0%, #f2f2f2 83%);
  }
  .advan__item:nth-child(4) {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe685), color-stop(83%, #f6f6f6));
    background: linear-gradient(180deg, #ffe685 0%, #f6f6f6 83%);
  }
  .advan__item:nth-child(5) {
    background: -webkit-gradient(linear, left top, left bottom, from(#adffc1), color-stop(83%, #f2f2f2));
    background: linear-gradient(180deg, #adffc1 0%, #f2f2f2 83%);
  }
  .advan__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
  }
}
.forma {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-bottom: 40px;
}

.forma__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--1);
  margin-bottom: 8px;
}

.forma__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  color: var(--07);
  margin-bottom: 8px;
}

.form__insed_block {
  border-radius: 8px;
  padding: 8px 70px 8px 16px;
  background: linear-gradient(96deg, #f7355d 0%, #9747ff 100%);
  margin-bottom: 8px;
}

.form__sale {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
}

.form__info {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
}

.form__contact {
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 14px 24px;
  border: 1px solid var(--015);
  border-radius: 8px;
  outline-width: 1px;
  outline-color: var(--prime);
  margin-bottom: 8px;
}

.form__buttton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--07);
  padding: 18px 0;
  width: 100%;
  text-align: center;
  background-color: var(--01);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form__buttton:hover {
  background-color: var(--prime);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .forma__content {
    max-width: 414px;
  }
  .form__contact {
    width: 414px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    margin-bottom: none;
  }
  .form__buttton {
    padding: 18px 33px;
  }
  .form__input {
    margin: 0;
    padding: 18px 24px;
  }
  .form__insed_block {
    max-width: 279px;
    padding: 8px 32px 8px 16px;
  }
  .form__info {
    white-space: nowrap;
    margin: 0;
  }
  .form__sale {
    margin-bottom: 4px;
  }
  .forma__img {
    background-image: url("../img/aplle.png");
    width: 224px;
    height: 173px;
    background-size: cover;
  }
  .forma__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .forma__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 8px;
    max-width: 339px;
  }
  .forma__text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1050px) {
  .forma {
    padding: 40px 0;
    background: var(--light-grey);
  }
  .forma__img {
    width: 484px;
    height: 371px;
  }
  .forma__title {
    font-size: 48px;
    max-width: 421px;
  }
  .forma__text {
    font-size: 24px;
    max-width: 454px;
    margin-bottom: 25px;
  }
  .forma__content {
    max-width: 486px;
  }
  .form__insed_block {
    background: none;
  }
  .form__form {
    padding: 16px 32px 32px 32px;
    border-radius: 8px;
    background: linear-gradient(96deg, #f7355d 0%, #9747ff 100%);
  }
}
.footer {
  padding-top: 49px;
}

.footerl__block {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}

.footer__number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--05);
  margin-bottom: 8;
}

.footer__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--05);
}

.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--03);
  max-width: 273px;
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer__links {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.footer__numberr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  color: var(--1);
  margin-bottom: 4px;
}

.footer__time {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--06);
  margin-bottom: 7px;
}

.footer__itemmms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer__social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__itemmms {
  margin-bottom: 40px;
}

.footer__down {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--prime);
}

.footer__adress {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--1);
}

.footer__itemms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer__listss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* mobile */
.footer__mobile {
  padding-bottom: 51px;
}

.footer__mobile__min_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.footer__mobile_number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--05);
  margin-bottom: 4px;
}

.footer__mobile__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--05);
}

.footer__mobile__descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  margin-bottom: 24px;
  color: var(--03);
  max-width: 200px;
}

.footer__mobile__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--1);
}

.footer__mobile__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.footer__mobile_numberr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--1);
  margin-bottom: 4px;
}

.footer__mobile_time {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--06);
  margin-bottom: 4px;
}

.footer__mobile_down {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
  margin-bottom: 16px;
}

.footer__mobile_downn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--prime);
  display: none;
}

.footer__mobile_social_icons {
  margin-bottom: 16px;
}

.footer__mobile_social_iconss {
  display: none;
}

.footer__mobile__adress {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--1);
}

.footer__mobile__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--09);
}
.footer__mobile__page span {
  color: #706e6e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__mobile__page:hover span {
  color: #52d116;
}

.footer__mobile__pgee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--09);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__mobile__pgee span {
  color: #706e6e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__mobile__pgee:hover {
  color: var(--prime);
}
.footer__mobile__pgee:hover span {
  color: var(--prime);
}

.footer__mobile__paagee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--09);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__mobile__paagee span {
  color: #bababa;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__mobile__paagee:hover {
  color: var(--prime);
}
.footer__mobile__paagee:hover span {
  color: rgb(253, 46, 46);
  border-color: rgb(253, 46, 46);
  stroke: rgb(253, 46, 46);
}

.footer__mobile__listscs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer__end {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 4px 0;
}

.footer__mobile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__mobile__min_block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__mobile_numberrr {
  display: none;
}

@media screen and (min-width: 600px) {
  .footer__mobile__descr {
    max-width: 441px;
    margin-bottom: 42px;
  }
  .footer__mobile__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
  }
  .footer__mobile__link {
    white-space: nowrap;
  }
  .footer__mobile_social_icons {
    display: none;
  }
  .footer__mobile_down {
    display: block;
  }
  .footer__mobile_social_iconss {
    display: block;
  }
  .footer__mobile_downn {
    display: block;
  }
  .footer__mobile_numberrr {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: var(--1);
    display: block;
  }
  .footer__mobile_itemmmms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__mobile_numberr {
    display: none;
  }
  .footer__mobile__itemmcs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__mobile__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--09);
    gap: 8px;
  }
  .footer__mobile__page span {
    color: #706e6e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__mobile__page:hover span {
    color: #52d116;
  }
  .footer__mobile__pgee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--09);
    gap: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__mobile__pgee span {
    color: #706e6e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__mobile__pgee:hover {
    color: var(--prime);
  }
  .footer__mobile__pgee:hover span {
    color: var(--prime);
  }
  .footer__mobile__paagee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--09);
    gap: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__mobile__paagee span {
    color: #bababa;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__mobile__paagee:hover {
    color: var(--prime);
  }
  .footer__mobile__paagee:hover span {
    color: rgb(253, 46, 46);
    border-color: rgb(253, 46, 46);
    stroke: rgb(253, 46, 46);
  }
  .footer__mobile__listscs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .footer__end {
    -webkit-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 4px 0;
  }
  .footer__mobile__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__mobile__min_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media screen and (min-width: 1050px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer__end {
    display: none;
  }
  .footer__mobile {
    display: none;
  }
  .footerl__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__img {
    width: 40;
    height: 45px;
  }
}/*# sourceMappingURL=main.css.map */